<div class="row">
        <button type="button" class="btn btn-primary" routerLink="/editacercade/1" *ngIf="isLogged">
             Editar personas
        </button>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto yo linkedin.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div id="soy" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Juan Martin Bernardez</p>
        <p id="trabajo">Full Stack Web Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h2>Acerca de mí</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi odio placeat necessitatibus ea provident aperiam itaque id ut aut cum iste aliquam reprehenderit non et asperiores, sapiente, quam optio aspernatur?</p>
    </div>
</div>
