<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Educación 1</h2> - <h4>(years)</h4>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid molestiae tenetur cumque delectus illum voluptatibus amet? Blanditiis impedit tenetur quis, voluptas necessitatibus nobis dolorum corrupti aperiam vel repellendus temporibus dignissimos.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Educación 2</h2> - <h4>(years)</h4>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid molestiae tenetur cumque delectus illum voluptatibus amet? Blanditiis impedit tenetur quis, voluptas necessitatibus nobis dolorum corrupti aperiam vel repellendus temporibus dignissimos.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Educación 3</h2> - <h4>(years)</h4>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid molestiae tenetur cumque delectus illum voluptatibus amet? Blanditiis impedit tenetur quis, voluptas necessitatibus nobis dolorum corrupti aperiam vel repellendus temporibus dignissimos.
            </p>
        </ul>
    </div>
</div>
