.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoap{
    width: 150px;
    padding: 15px;
}

img{
    width: 70px;
    padding: 10px;
}

/* --- Para vista de celular ---*/
.container{
    flex-direction: column;
}

.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes img{
    margin: 0.2em;
}