<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/ArgPrograma icon.png" id="logoap">
        </div>
        <div class="redes">
            <a href="https://github.com/juanmaabernardez" target="_blank"><img src="../../../assets/github icon.png" class="github"></a>
            <a href="https://www.linkedin.com/in/juanmartinbernardez/" target="_blank"><img src="../../../assets/LinkedIn icon.png" class="linkedin"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
</div>
